body {
    font-family:  sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: rgb(65, 65, 55);
    background-color: antiquewhite;
}
h3 {
    margin: 0;
    line-height: 25px;
    font-weight: 400;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(247, 30, 48);
    
}
hr{
    border-top-style: double;
}